@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-link {
  @apply text-gray-700 hover:text-black font-medium flex items-center gap-2;
}
